<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/bootstrap" routerLinkActive="active">Bootstrap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ng-bootstrap" routerLinkActive="active">Ng-bootstrap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/ngx-bootstrap" routerLinkActive="active">Ngx-bootstrap</a>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-info" type="button" (click)="switchTheme()">Switch theme</button>
      </div>
    </div>
  </div>
</nav>